processkiller/.vs/processkiller/v15/Server/sqlite3/storage.ide-wal
processkiller/.vs/processkiller/v15/Server/sqlite3/storage.ide-shm
processkiller/.vs/processkiller/v15/Server/sqlite3/storage.ide
processkiller/.vs/processkiller/v15/Server/sqlite3/db.lock
